/* line 1, ../../../compass/derekmueller/public/css/index.scss */
#logo {
  margin-top: 10px;
  width: 179px;
}

/* line 6, ../../../compass/derekmueller/public/css/index.scss */
#text-container {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
}
/* line 13, ../../../compass/derekmueller/public/css/index.scss */
#text-container > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 19, ../../../compass/derekmueller/public/css/index.scss */
#text-container h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* line 24, ../../../compass/derekmueller/public/css/index.scss */
#text-container a,
#text-container p {
  margin-top: 3px;
}

/* line 29, ../../../compass/derekmueller/public/css/index.scss */
#text-container p {
  font-size: 14px;
  color: #535353;
}

/* line 34, ../../../compass/derekmueller/public/css/index.scss */
#text-container a {
  text-decoration: none;
  display: inline-block;
  color: #535353;
}

/* line 40, ../../../compass/derekmueller/public/css/index.scss */
#text-container a:hover {
  text-decoration: underline;
  color: blue;
}

/* line 45, ../../../compass/derekmueller/public/css/index.scss */
#text-container a:hover:visited {
  text-decoration: underline;
  color: purple;
}
