<!DOCTYPE html>

<html>

<head>
  <title> Two Players, One Keyboard </title>
  <link rel="stylesheet" type="text/css" href="/css/2p1kInfo.css" />
  <meta name="description" content="2p1k game info and download" />
  <meta name="keywords" content="two players, one keyboard 2p1k game
   ucsc university of california santa cruz derek mueller will lee" />
  <!-- remove names from keywords? -->

  <!--<script type="text/javascript" src="2p1k_info.js"></script>-->

</head>

<body>
  
  <div class="main">
	  <h1 class="title"> Two Players, One Keyboard </h1>
	  <p class="description"> 
      - A game by Will Lee &#38 Derek Mueller - <!--amp:&#38-->
    </p>
	  <p class="download_links"> 
	    <a href="http://sourceforge.net/projects/twoplayonekey/files/2p1k.zip/download">Download</a> </br>
	    **Windows Only** </br> </br>
	  </p>
  </div>
	<p class="more_info"> 
	  More information about 2p1k: </br>
	  <a href="http://games.soe.ucsc.edu/project/twoplayersonekeyboard2pk1">http://games.soe.ucsc.edu/project/twoplayersonekeyboard2pk1</a>
	</p> 

</body>


