<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel='stylesheet' href='css/grayCodeScales.css' type='text/css'>
  <script src='js/tones.js'></script>
  <script src='js/jquery.js'></script>
  <meta content='width=device-width, initial-scale=0.9, maximum-scale=2.5, user-scalable=0' name='viewport' />
  <title></title>
</head>
<body class='paused'>
  <div id='tape' class='tape'></div>
  <div id='tape2' class='tape'></div>
  <div id='reader'></div>
  <div id='overlay'>
  </div>
  <div id='play-button'>
    <span>&#x25B6;</span>
  </div>
  <div id='pause-button' style='display: none;'>
    <span>&#9646;</span>
    <span>&#9646;</span>
  </div>
  <script src='js/grayCodeScales.js'></script>

</body>
</html>
