<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8" />
<meta content='width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=1' name='viewport' />

<title></title>
<link href="css/reset.css" rel="stylesheet"> 
<link href="css/prototypes.css" rel="stylesheet"> 
<link href="css/nPlayerChess.css" rel="stylesheet"> 
<link href="css/tentative.css" rel="stylesheet"> 

<style>
      
#about {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -67px;
  top: 0;
  bottom: 0;
}

.t-tip-text div {
  margin-bottom: 4px;
}

.t-link {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  top: 462px;
}

</style>

</head>

<body>
  <div id='content-container' class='t-main-content'>
  <!--<div id='about' class='t-button t-tip'> 
    <div> ? </div> 
    <div class='t-tip-text'>
      <div>
      Press up arrow/down arrow to increase or decrease the number of players, respectively.
      </div>
      <div>
      Drag and drop pieces to move or capture 
      <br>
      (bottom right player starts).
      </div>
      <div>
      This is just a sketch.
      </div>
    </div>
  </div>-->
  <div id="canvas-container-0">
  </div>
  <!--<a class='t-link' href='http://www.github.com/parenparen/nplayerchess'>
    GitHub
  </a>-->
</div>
<script src='js/jquery-1.8.3.js'></script>
<script src='js/prototypes.js'></script>
<script src='js/NPlayerChessBoard.js'></script>
<script src='js/playOnline.js'></script>

</body>

</html>

